.card {
  background: #1f1f1f;
  color: white;
  padding: 1rem;
  border-radius: 12px;
  transition: 0.2s ease;
  border: 1px solid #2c2c2c;

  &:hover {
    transform: translateY(-4px);
  }

  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }

  p {
    color: #d1d1d1;
  }
}